<div id="about">



  <h1>About Us</h1>
<br>
</p>

<p>
  <b>PlayDate is a social networking tool for busy moms to create a new network of friends with whom we share commonalities.  Many of us lose our traditional social networks as we build our families.  Friends at different stages in life, moves to different suburbs or cities for jobs break up long standing friendships.  PlayDate allows you to search for parents in your neighborhood, find out their interest, reach out to them anonymously as first and then finally connect when you are comfortable</b>
  
</p>

<p>
 
 <b>Build a new network of friends.  Share the joys of building families, share recipes, favorite books, favorite activities.  Get together for coffee, potlucks, trips to the playground.</b>

</p>


<%= link_to 'Back', moms_path %>

</div>
