<div id="contact">


  <h1>Customer Service</h1>
  
<br>


<p>
  <b>Email: customerservice@playdate.com</b>
  
</p>

<p>
  <b>Address: 875 N. Michigan Ave, Suite 2900 Chicago, IL 60610</b>

</p>

<br>
<br>

<%= link_to 'Back', moms_path %>

</div>
