header {
   
  padding: 20px;
}
header h1 {
 
  float: left;
  font: 600 80px/60px "Cheri Liney","Lucida Grande", Helvetica, Arial, "Lucida Grande", sans-serif;
  letter-spacing: -1px;
  margin: 0;
}
header h1 a {
  color: #FE4365;
}
header h1 span {
  color: #blue;
  font: 200 48px/65px "Cheri Liney","Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 0 0 0 -2px;
}
header ul {
  float: right;
}
header ul li {
  float: left;
}
header ul li.btn {
  margin: 0 0 0 15px;
}
header ul li.btn a {
  background: #f2f2f2;
  background: -moz-linear-gradient(top, #fff, #e6e6e6);
  background: -ms-linear-gradient(top, #fff, #e6e6e6);
  background: -o-linear-gradient(top, #fff, #e6e6e6);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#e6e6e6));
  background: -webkit-linear-gradient(top, #fff, #e6e6e6);
  background: linear-gradient(top, #fff, #e6e6e6);
  border: 1px solid #ccc;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #275b8c;
  cursor: pointer;
  padding: 4px 8px;
}
header ul li.btn a:hover, header ul li.btn a:focus, header ul li.btn a:active {
  background: #ebebeb;
  background: -moz-linear-gradient(top, #f5f5f5, #e0e0e0);
  background: -ms-linear-gradient(top, #f5f5f5, #e0e0e0);
  background: -o-linear-gradient(top, #f5f5f5, #e0e0e0);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f5f5f5), to(#e0e0e0));
  background: -webkit-linear-gradient(top, #f5f5f5, #e0e0e0);
  background: linear-gradient(top, #f5f5f5, #e0e0e0);
  color: #c52027;
}